.start-menu__layaout{
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.658);;
}


.start-menu{
    height: 40vh;
    width: 30%;
    background-image: url("/public/storage/images/menuBG.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 4px solid black;
    border-radius: 10px;
   
    
}

.start-menu__title{
    font-size: 5rem;    
    color: rgba(255, 255, 255, 0.712);
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-family: 'retro', serif;
    animation: float 3s ease-in-out infinite;
    text-shadow: 2rem 2rem 1px rgba(0, 0, 0, 0.568);
    letter-spacing: 2px;
}

.start-menu__button{

    width: 40%;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'retro', serif;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(206, 203, 182);
    background-color: rgb(138, 87, 20);
    transform: translateY(-2px);
    
}

.start-menu__button:hover{
    background-color:  rgb(151, 107, 13);
}





@media (max-width: 1440px) { 

    .start-menu__title{
        font-size: 4rem;    
        text-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.568);
    }

    .start-menu{
        height: 30vh;
        width: 30%; 
    }
    
    .start-menu__button{
        width: 50%;
        height: 5vh;
        font-size: 2rem; 
    }
    
    
}

@media (max-width: 1024px) { 

    .start-menu__title{
        font-size: 3rem;    
        text-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.568);
    }

    .start-menu{
        height: 30vh;
        width: 30%; 
    }
    
    .start-menu__button{
        width: 50%;
        height: 5vh;
        font-size: 1.5rem; 
    }
    
    
}

@media (max-width: 768px) { 

    .start-menu__title{
        font-size: 3rem;    
        text-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.568);
    }

    .start-menu{
        height: 30vh;
        width: 40%;
    }
    
    .start-menu__button{
        width: 60%;
        height: 5vh;
        font-size: 1.5rem;   
    }
    
    
}

@media (max-width: 425px) { 

    .start-menu__title{
        font-size: 2.5rem;    
        text-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.568);
    }

    .start-menu{
        height: 30vh;
        width: 60%;
    }
    
    .start-menu__button{

        width: 60%;
        height: 5vh;
        font-size: 1.5rem; 
    }
    
    
}

@media (max-width: 375px) { 

    .start-menu__title{
        font-size: 2.5rem;    
        text-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.568);
    }

    .start-menu{
        height: 30vh;
        width: 70%;  
    }
    
    .start-menu__button{

        width: 60%;
        height: 5vh;
        font-size: 1.5rem;
    }
    
    
}

@media (max-width: 320px) { 

    .start-menu__title{
        font-size: 2.5rem;    
        text-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.568);
    }

    .start-menu{
        height: 30vh;
        width: 80%;  
    }
    
    .start-menu__button{
        width: 60%;
        height: 5vh;
        font-size: 1.5rem;
    }
    
    
}