
canvas {
    border: 5px solid #2e2e2e;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('/public/storage/images/game-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* we will make the end menu overlap the game canvas, so we need here a lower z-index */
    z-index: 1;
}

#score-display {
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

