
canvas {
    border: 5px solid #2e2e2e;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('/public/storage/images/game-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* we will make the end menu overlap the game canvas, so we need here a lower z-index */
    z-index: 1;
}

.game-box{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score-display {
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1440px) { 

    canvas{
        width: 300px;
        height: 500px;
    }
    
    
}

@media (max-width: 1024px) { 


    
}

@media (max-width: 768px) { 

    
    
    
}

@media (max-width: 425px) { 

    canvas{
        width: 300px;
        height: 500px;
    }
    
}

@media (max-width: 375px) { 

    canvas{
        width: 300px;
        height: 500px;
    }
    
}

@media (max-width: 320px) { 

    canvas{
        width: 300px;
        height: 500px;
    }
    
    
}