@font-face {
    font-family: retro;
    src: url("/public/storage/fonts/retro-font.woff2");
}

@keyframes float {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -5%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

*{
    margin :0;
    padding: 0;
}

body {
    font-family: "Roboto", "Helvetica Neue";
    background-image: linear-gradient(to right, rgb(94, 94, 94), rgb(6, 6, 7));
}